@import "../../responsive.scss";

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a{
        transition: all 0.4s ease;
        color: black;
        @include sm{
            display: none;
        }
        &:hover{
            scale: 1.3;
        }
       
    }
    .left{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo{
            display: flex;
            font-weight: bold;
            align-items: center;
            gap: 10px;
            font-size: 20px;

            img{
                width: 28px;
            }

            span{
                @include md{
                    display: none;
                }
                @include sm{
                    display: initial;
                }
            }
        }
        
    }

    .right{
        flex:2;
        display: flex;
        justify-content: flex-end;
        background-color: #fcf5f3;
        align-items: center;
        height: 100%;

        @include md{
            background-color: transparent;
        }

        .user{
            display: flex;
            align-items: center;
            font-weight: bold;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
            }
            @include sm{
                span{
                    display: none;
                }
            }
            .profile{
                padding: 12px 24px;
                background-color: #fece51;
                cursor: pointer;
                border: none;
                position: relative;
                .notification{
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    display: flex;
                    background-color: red;
                    color: black;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    width: 26px;
                    height: 26px;
                }
            }
        }

        a{
            padding: 12px 24px;
            margin: 20px;
            
        }

        .register{
            background-color: #fcce51;
            
        }

        .menuIcon{
            display: none;
            img{
                width: 36px;
                height: 36px;
                cursor: pointer;
            }
            @include sm{
                display: inline;
            }

            z-index: 999;
            
        }

        .menu{
            position: absolute;
            width: 50%;
            top: 0;
            right: -50%;
            height: 100vh;
            background-color: black;
            color: white;
            transition: all 1s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            &.active{
                right:0;
            }
            @include sm{
                a{
                    display: initial;
                    color: white;
                }
            }
            
        }

        
    }


}

